@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-bottom: 30px;
}

#menu {
  display: flex;
  list-style: none;
  margin-left: auto;
}

#header-logo {
  height: 70px;
  width: auto;
}

.menu-item {
  font-size: 1.1rem;
}

.menu-item.selected {
  text-decoration: underline;
  font-size: 1.1rem;
  font-weight: bold;
}

/* -----------------------------------------------------Start  of desktop styling ------------------------------------------------------------------------------------ */
@media screen and (width >= 768px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15%;
    padding-bottom: 30px;
  }
}
